---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../components/BaseLayout.astro";
const pageTitle = "home";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center gap-2">
    <p class="text-2xl font-bold text-black dark:text-white">
     
    </p>
    <p class="text-2xl font-bold text-black dark:text-white">
      This site is best in light mode until I figure out how to fix some bugs
    </p>
    <div class="flex h-24 w-24 flex-col items-center">
      <svg
        version="1.1"
        class="fill-current stroke-current text-black dark:text-white"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 216.4 252.2"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: none;
            stroke: currentColor;
            stroke-width: 20;
            stroke-miterlimit: 10;
          }
          .st1 {
            fill: currentColor;
            stroke: currentColor;
            stroke-width: 20;
            stroke-miterlimit: 10;
          }
          .st2 {
            fill: currentColor;
            stroke: currentColor;
            stroke-width: 10;
            stroke-miterlimit: 10;
          }
          .st3 {
            fill: currentColor;
            stroke: currentColor;
            stroke-miterlimit: 10;
          }
        </style>
        <path
          class="st0"
          d="M135,
61c40.8,5.9,71.4,41.9,71.4,83.9c0,46.5-37.5,84.7-83.1,84.7c-28.1,0-54.4-14.6-69.7-38.6"
        ></path>
        <rect x="10" y="184.2" class="st1" width="104.8" height="3.2"></rect>
        <g>
          <rect
            x="87"
            y="57.7"
            transform="matrix(0.5373 -0.8434 0.8434 0.5373 7.9322 138.4206)"
            class="st1"
            width="86.3"
            height="8.5"></rect>

          <rect
            x="157.8"
            y="8.4"
            transform="matrix(0.5373 -0.8434 0.8434 0.5373 64.4387 142.1138)"
            class="st2"
            width="7.8"
            height="7.8"></rect>

          <rect
            x="93.3"
            y="109.7"
            transform="matrix(0.5373 -0.8434 0.8434 0.5373 -50.8109 134.5597)"
            class="st2"
            width="7.8"
            height="7.8"></rect>
        </g>
        <rect x="77.6" y="239" class="st1" width="104.8" height="3.2"></rect>
        <circle class="st3" cx="145.6" cy="61.9" r="19.5"></circle>
      </svg>
    </div>
  </div>
</BaseLayout>
