---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { GitHubLogoIcon, TwitterLogoIcon } from "@radix-ui/react-icons";
const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/BrandIcon.ico" />
    <link rel='alternate' type='application/rss+xml' title='RSS Feed' href='/rss.xml' />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="text-black dark:bg-slate-800 dark:text-white w-full mx-auto">
    <Header />

    <main
      class="flex h-screen flex-grow flex-col items-center justify-start gap-4"
    >
      <slot />
    </main>
   <Footer />

    <script></script>
  </body>
</html>
